.home-page {
  height: 100vh;
  overflow-y: auto;
  background-image: url(../../assets/images/PhotobyAlexanderDummeronUnsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
