.home-page {
  width: 100%;
  height: 100vh;
  padding-top: 40vh;
  background-image: url(../../assets/images/PhotobyAlexanderDummeronUnsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
