.catalogue {
  display: flex;
  list-style-type: none;
  border: 1px solid red;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;

  &__element {
    border: 1px solid palevioletred;
    margin: 10px;
    position: relative;
    width: 250px;
    height: 250px;

    h1 {
      color: #ffffff;
    }

    &_image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      transform: (translate(-50%));
      background-color: black;
    }
  }
}
