@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";
.product-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__name {
    text-align: left;
    font-size: 4rem;
  }

  &__id {
    text-align: right;
  }

  &__iframe {
    width: 560px;
    height: 315px;
    margin: 10px auto;
  }

  .add-button {
    @include button;
    width: 20%;

    border: 1px solid black;
    border-radius: $border-radius-default;

    &:hover {
      background-color: grey;
    }
  }
}
