@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.product-page {
  padding-top: 15vh;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(#dd5e89, #f7bb97);

  &__wrapper {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &__image {
    background-color: $secondary-color;
    margin-right: 10px;
  }

  &__info {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-name {
      font-size: 3rem;
    }

    &-price {
      font-size: 2rem;
    }

    &-description {
      margin: 0;
      font-size: 1rem;
    }
  }

  &__owner {
    h3 {
      font-size: 1.5rem;
      margin: 10px 0;
    }

    &-options {
      margin: 20px;

      a {
        margin-right: 10px;
      }
    }
  }

  &__button {
    @include button;
    width: 20%;
  }
}
