.cameras {
  background-image: url(../assets/images/jakob-owens-LCiZmVUaEf0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.microphones {
  background-image: url(../assets/images/Photo-by-Jonathan-Velasquez-on-Unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lights {
  background-image: url(../assets/images/Photo-by-william-f.-santos-on-Unsplash.jpg);
  background-size: cover;
}

.home-page-background {
  background-image: url(../assets/images/PhotobyAlexanderDummeronUnsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
