@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    align-items: center;

    .alert {
      text-align: left;
      padding: 10px;
    }

    & label {
      text-align: left;
      width: 100px;
    }

    & input,
    select {
      position: relative;
      width: 10%;
      min-width: 155px;
      padding: 4px;
      height: 2rem;
      border: 0.5px solid #000000;
      border-radius: $border-radius-default;
    }
  }
  .btn-primary {
    @include button;
    width: 10%;
    height: 2rem;
    border: 1px solid #000000;
    border-radius: $border-radius-default;

    &:disabled {
      background-color: grey;
    }
  }
}
