@import "../../styles/mixin.scss";

.product-list {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }

  &__no-items-error {
    font-size: 4rem;
  }
  .item-card {
    @include item-card;
  }
}
