@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.cameras {
  background-image: url(../../assets/images/jakob-owens-LCiZmVUaEf0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.microphones {
  background-image: url(../../assets/images/Photo-by-Jonathan-Velasquez-on-Unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lights {
  background-image: url(../../assets/images/Photo-by-william-f.-santos-on-Unsplash.jpg);
  background-size: cover;
}

.product-list {
  padding-top: 20vh;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: auto;

  &__items {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100%;

    &-item {
      margin-bottom: 10px;
      position: relative;
      width: 300px;
      height: 400px;
      background-color: $primary-color;
      box-shadow: $main-shadow;

      .product-card {
        @include item-card;
      }
    }
  }
}

@include media-lg {
  .product-list {
    &__items {
      padding: 0;
    }
  }
}

@include media-sm {
  .product-list {
    &__items {
      &-item {
        width: 100%;
      }
    }
  }
}
