@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

$border-size: 1px;

.navbar {
  top: 0;
  left: 0;
  width: 100vw;

  &__links {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    text-align: right;

    &-link {
      display: inline;
      padding-right: 1.5rem;

      a {
        font-size: 1.5rem;
        @include transition-ease;

        &:hover {
          color: $secondary-color;
        }
      }

      .activeNavLink {
        position: relative;
        color: $secondary-color;
      }
    }
  }
}
