@import "../../styles/variables.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #000000;
  margin: 20px 0;
  border-radius: $border-radius-default;

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &_link {
      padding: 5px;
      margin: 5px;
      color: #ffffff;
    }
  }
}
