@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.item-config-page {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 30px;
  padding-top: 60px;

  &__form-wrapper {
    min-width: 22%;
    animation: bluringReversed 500ms forwards;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    @include form;
    background-color: white;

    select {
      background-color: transparent;
      position: relative;
    }

    input {
      border-bottom: 1px solid $primary-color;
    }

    textarea {
      width: 100%;
      height: 200px;
      background-color: transparent;
      padding: 10px;
      color: black;
      font-size: 1.4rem;
      border: none;
      grid-area: textarea;
      border: 1px solid $primary-color;
    }

    &-button {
      mix-blend-mode: unset;
    }
  }
}

@include media-md {
  .item-config-page {
    &__form-wrapper {
      form {
        .alert {
          margin: 0;
          padding: 0;
          left: 10%;
          transform: translate(-6%, -141%);
        }
      }
    }
  }
}
@include media-lg {
  .item-config-page {
    &__form-wrapper {
      form {
        .alert {
          margin: 0;
          padding: 0;
          left: 10%;
          transform: translate(-6%, -141%);
        }
      }
    }
  }
}
