@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.item-config-page {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(#f7bb97, #dd5e89);

  &__form-wrapper {
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#dd5e89, #f7bb97);
    color: #ffffff;
    width: 50%;

    form {
      display: grid;
      grid-template-areas:
        "input input input input"
        "input input input input"
        "input textarea textarea textarea"
        "input select . button";
      grid-template-columns: 10% 25% 10% 25%;
      grid-template-rows: auto;

      grid-gap: 20px;

      textarea {
        background-color: transparent;
        color: #ffffff;
        font-size: 1rem;
        border: none;
        width: 40%;
        height: 30%;
        resize: none;
        grid-area: textarea;
        border: 1px solid $primary-color;
        width: 100%;
      }

      label {
        grid-area: label;
      }

      select {
        grid-area: select;
        border: 1px solid $primary-color;
        background: transparent;
        color: #ffffff;
        width: 100%;

        option {
          background-color: transparent;
        }
      }

      input {
        grid-area: input;
        background: transparent;
        border: none;
        width: 100%;
        @include inputWithLabel;
      }

      button {
        grid-area: button;
        @include button;
      }
    }
  }
}
