@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.user-profile {
  padding-top: 20vh;
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(#dd5e89, #f7bb97);

  &__items {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    min-height: 100%;

    &-item {
      position: relative;
      width: 300px;
      height: 400px;
      background-color: $primary-color;
      box-shadow: $main-shadow;

      &-button {
        position: absolute;
        float: right;
      }

      .product-card {
        @include item-card;
      }
    }
  }
}
