@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.user-profile {
  padding-top: 20vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;

  &__items {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    min-height: 100%;

    &-item {
      position: relative;
      width: 300px;
      height: 400px;
      background-color: $primary-color;
      box-shadow: $main-shadow;

      &-button {
        position: absolute;
        float: right;
      }

      .product-card {
        @include item-card;
      }
    }
  }
}

@include media-lg {
  .user-profile {
    &__items {
      padding: 0;
      grid-template-columns: 1fr 1fr;

      &-item {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }
}

@include media-sm {
  .user-profile {
    &__items {
      grid-template-columns: 1fr;
      &-item {
        position: relative;
        width: 100%;
      }
    }
  }
}
