@import "../../styles/mixin.scss";

.login-page {
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow-y: auto;

  &__image {
    height: 100%;
    background-image: url(../../assets/images/PhotobyAlexanderDummeronUnsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bluring 500ms forwards;
  }

  &__form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    min-width: 22%;
    height: 60%;
    animation: bluringReversed 500ms forwards;

    form {
      @include form;

      .alert {
        color: $primary-color;
        left: 50%;
        border: none;
      }
    }
  }
}

@keyframes bluring {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(8px);
  }
}

@keyframes bluringReversed {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0px);
  }
}

@include media-lg {
  .login-page {
    &__form-wrapper {
      min-width: 50%;
    }
  }
}

@include media-sm {
  .login-page {
    &__form-wrapper {
      min-width: 90%;
    }
  }
}
